html{
	height: 100%;
	background-color: #d3d3d3;
}
img {
	border-radius: 50%;
	width: 60px;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 800px;
	margin: auto;
	text-align: center;
	color: black;
	position: relative;
	background-color: #f5fffa;
	padding: 40px;
}

.title{
	color: green;
	font-size: 18px;
}

#content{
	font-size: 23px;
	color: black;
	font-family: "arial", sans, sans-serif;
	text-align: justify;
	padding: 30px;
}
a {
	text-decoration: none;
	font-size: 22px;
	color: black;
	
}
