@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
body {
    font-family: 'Nunito', sans-serif;
    background: #dadfe1;
}

.footer {
    grid-area: footer;
    background: white;

}

.container {
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 130px 800px;
}

.content,
.footer {
    padding: 1cm;
}

.hero {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.hero img{
    width: 200px;
    border-radius: 50%
}

.hero h1 h4{
    font-size: 2em;
    font-weight: 300;
    color: #373d46;
}

.hero p{
    font-weight: 300;
    line-height: 1.8em;
    color: #6c7a89;
}

footer ul{
    max-width: 640px;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

footer ul li{
    list-style: none;
    align-self: flex-end;
}

footer ul li a{
    text-decoration: none;
    color: #c1c6ce
}

svg {
    width: 40%;
}

footer p {
    font-size: 0.8em; 
}
