body{
	font-family: 'Open Sans',sans-serif;
	background-image: url(bgImg.jpg);
}
#container{
	background-size: cover;
	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 80px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.number:hover{
	background-color: #ABB7B7;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
#clear:hover{
	background-color: #6C7A89;
}
#backspace:hover{
	background-color: #6C7A89;
}
#percentage:hover{
	background-color: #6C7A89;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #22A7F0;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #FFA400;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #DB5A6B;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #8DB255;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #89729E;
}